<setting>
    <ConStr>Server=127.0.0.1;Port=3306;Database=myerpplus_pci;Uid=myerpplus;Pwd=myerpplus;Max Pool Size=10000;Allow User Variables=True;</ConStr>
    <ReportConStr>DSN=myerpplus_pci;DESCRIPTION=myerpplus_pci;SERVER=127.0.0.1;UID=myerpplus;PWD=myerpplus;DATABASE=myerpplus_pci;PORT=3306</ReportConStr>
</setting>