<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<httpRuntime enableVersionHeader="false" maxRequestLength="2147483647"/>
		<trust level="Full"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<compilation debug="true" explicit="true" numRecompilesBeforeAppRestart="99999" strict="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<customErrors mode="Off"/>
		<identity impersonate="false"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<pages/>
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*"/>
				<remove name="X-Powered-By"/>
			</customHeaders>
		</httpProtocol>
		<directoryBrowse enabled="true"/>
		<httpErrors errorMode="Detailed">
			<remove statusCode="404" subStatusCode="-1"/>
			<error statusCode="404" prefixLanguageFilePath="" path="myerpplus.com" responseMode="Redirect"/>
		</httpErrors>
		<urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
		<!--
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
-->
		<handlers>
			<remove name="ASPClassic"/>
			<add name="ASPClassic" path="*.asp" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script"/>
		</handlers>
		<tracing>
			<traceFailedRequests>
				<add path="*">
					<traceAreas>
						<add provider="ASP" verbosity="Verbose"/>
						<add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose"/>
						<add provider="ISAPI Extension" verbosity="Verbose"/>
						<add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite" verbosity="Verbose"/>
					</traceAreas>
					<failureDefinitions statusCodes="404"/>
				</add>
			</traceFailedRequests>
		</tracing>
		<staticContent>
			<mimeMap fileExtension=".apk" mimeType="application/object"/>
			<!-- <mimeMap fileExtension=".json" mimeType="application/json" /> -->
			<!-- <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/> -->
		</staticContent>
		<!-- untuk compress data -->
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ClsCompression" type="ClsCompression"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<security>
			<requestFiltering>
				<requestLimits maxUrl="10999" maxQueryString="2097151" maxAllowedContentLength="2147483647"/>
			</requestFiltering>
		</security>
		<!-- end of untuk compress data -->
	</system.webServer>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="10000"/>
		</connectionManagement>
	</system.net>
</configuration>
