/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.dgStyle
{
	skinClass: ClassReference('skins.dgStyle');
}

.boxContent
{
	skinClass: ClassReference('skins.BoxContent');
}

s|Button 
{
	skinClass: ClassReference('skins.BtnMenu');
}

.txtStyle 
{
	skinClass: ClassReference('skins.txtStyle');
}

s|Button.merah {
	skinClass: ClassReference('skins.MyMenu');
	color: #FFFFFF;
	font-weight: bold;
	background-color: #ed8181;
	background-gradient-top-color: #ffadad;
	background-gradient-bottom-color: #ed8181;
}

s|Button.merah:over {
	color: #FFFFFF;
	background-gradient-top-color: #ff0303;
	background-gradient-bottom-color: #ed1515;
}

s|Button.hijau {
	skinClass: ClassReference('skins.MyMenu');
	color: #FFFFFF;
	font-weight: bold;
	background-color: #93ed81;
	background-gradient-top-color: #bbffad;
	background-gradient-bottom-color: #92ed80;
}

s|Button.hijau:over {
	color: #FFFFFF;
	background-gradient-top-color: #2dff03;
	background-gradient-bottom-color: #39ed15;
}

s|Button.biru {
	skinClass: ClassReference('skins.MyMenu');
	color: #FFFFFF;
	font-weight: bold;
	background-color: #80d0ed;
	background-gradient-top-color: #ade9ff;
	background-gradient-bottom-color: #80d0ed;
}

s|Button.biru:over {
	color: #FFFFFF;
	background-gradient-top-color: #03bcff;
	background-gradient-bottom-color: #15b4ed;
}

s|Button.hijau:over {
	color: #FFFFFF;
	background-gradient-top-color: #2dff03;
	background-gradient-bottom-color: #39ed15;
}

s|Button.orange {
	skinClass: ClassReference('skins.MyMenu');
	color: #FFFFFF;
	font-weight: bold;
	background-color: #edae80;
	background-gradient-top-color: #ffcfad;
	background-gradient-bottom-color: #edae80;
}

s|Button.orange:over {
	color: #FFFFFF;
	background-gradient-top-color: #ff6c03;
	background-gradient-bottom-color: #ed6f15;
}
