/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";
@namespace components "components.*";
@namespace supertabs "flexlib.controls.tabBarClasses.*";


.closeButton 
{ 
	paddingTop: 20px;
	upSkin:   Embed("../assets/main/close.png"); 
	downSkin: Embed("../assets/main/close.png");
	overSkin: Embed("../assets/main/close.png"); 
}

s|Button.parent {
	skinClass: ClassReference('skins.MyButtonSkin');
	color: #FFFFFF;
	font-weight: bold;
	background-color: #81CBED;
	background-gradient-top-color: #ADEFFF;
	background-gradient-bottom-color: #81CBED;
}

s|Button.parent:over {
	color: #FFFFFF;
	background-gradient-top-color: #03C1FF;
	background-gradient-bottom-color: #1597ED;
}

s|Button.parent:down{
	background-gradient-top-color: #1597ED;
	background-gradient-bottom-color: #24D7ED;
}

s|Button.SoftBlueCircle {
	skinClass: ClassReference('skins.MyButtonIconSkin');
	color: #FFFFFF;
	font-weight: bold;
	background-color: #81CBED;
	background-gradient-top-color: #ADEFFF;
	background-gradient-bottom-color: #81CBED;
}

s|Button.SoftBlueCircle:over {
	color: #FFFFFF;
	background-gradient-top-color: #03C1FF;
	background-gradient-bottom-color: #1597ED;
}

s|Button.SoftBlueCircle:down{
	background-gradient-top-color: #1597ED;
	background-gradient-bottom-color: #24D7ED;
}
global
{
	font-size: 12;
}

