<setting>
	<url>http://127.0.0.1:4444</url>
	<namapt>PT Induk Jaya</namapt>
	<kodeapp>indukjaya</kodeapp>
	<ConStr>Server=localhost;Port=3306;Database=myerpplus-product;Uid=myerpplus;Pwd=myerpplus;Max Pool Size=10000;Allow User Variables=True;</ConStr>
	<ReportConStr>DSN=myerpplus-product;DESCRIPTION=myerpplus-product;SERVER=127.0.0.1;UID=myerpplus;PWD=myerpplus;DATABASE=myerpplus-product;PORT=3306</ReportConStr>
</setting>